/* Consistent styling with Home.css */
/* .about {
    border: 3px solid #d41c1c;
    border-radius: 30px;
    padding: 40px 30px;
    margin: 20px 10px 20px 10px;
    width: 90%;
    max-width: 900px;
    background-color: #ede0e0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
} */

.about-wrapper {
    border-radius: 30px;
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 50px 20px;
    
  }
#about {
    align-items: center;
      text-align: center;
      padding: 5px; /* Reduced padding */
      border: 5px solid #e71c1c;
      border-radius: 10px;
  }

/* Header Styling */
#about h1 {
    font-size: 28px;
    color: #ff8800;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.colored-line {
    width: 50%;
    height: 3px;
    background-color: red;
    margin: 10px auto 30px auto;
}

/* Company Details */
.Company-detail {
    font-size: 20px;
    background-color: #eda81f6d;
    width: 90%;
    max-width: 850px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #beafaf;
    margin: 30px auto;
}

/* Speciality Section */
.speciality-container {
    padding: 20px;
    margin: 10px auto;
    width: 90%;
    max-width: 700px;
    background-color: #eda81f6d;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    border: 1px solid #beafaf;
}

.speciality-heading {
    color: #fcf004;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.specialities-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.specialities-list li {
    font-size: 18px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    font-weight: 780;
}

.specialities-list li::before {
    content: "\2713"; 
    /* Checkmark symbol */
    color: green;
    font-weight: bold;
    margin-right: 10px;
}

.specialities-list li:hover {
    background-color: rgba(255, 0, 0, 0.1);
    padding-left: 15px;
    cursor: pointer;
}

.highlight-text {
    font-size: 22px;
    font-weight: bold;
    color: #fff700;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .about {
        width: 95%;
    }
    .specialities-list li {
        font-size: 16px;
    }
    .highlight-text {
        font-size: 20px;
    }
}
