/* Payment Page Wrapper */
.payment-wrapper {
    border-radius: 30px;
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 50px 20px;
  }
#payment {
    align-items: center;
      text-align: center;
      padding: 10px; /* Reduced padding */
      border: 2px solid #efe8e8;
      border-radius: 10px;
      background-color: white;
  }

/* QR Code Image */
#payment img {
    width: 90%;
    max-width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

/* Payment Details */
#payment p {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin: 10px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .payment-wrapper {
        width: 90%;
    }
}